# Administrator credentials when not using an existing secret (see below)
adminUser: admin
adminPassword: admin

# Use an existing secret for the admin user.
# admin:
#   ## Name of the secret. Can be templated.
#   existingSecret: ""
#   userKey: admin-user
#   passwordKey: admin-password

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        access: proxy
        url: http://loki.loki.svc.cluster.local:3100
        isDefault: false
        jsonData:
          derivedFields:
            - name: trace_id
              matcherRegex: "trace_id=(\\w+)"
              url: "$${__value.raw}"