# Administrator credentials when not using an existing secret (see below)
adminUser: admin
adminPassword: admin

# Use an existing secret for the admin user.
# admin:
#   ## Name of the secret. Can be templated.
#   existingSecret: ""
#   userKey: admin-user
#   passwordKey: admin-password